<head>
    <meta charset=utf-8 />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title> Flask - Firebase Hosting Base Example </title>
    <meta property="og:image" content="/static/favicon.ico">
    <meta property="og:title" content="Flask - Firebase Hosting">
    <meta property="og:description" content="Base Boilerplate of Flask to deploy with Firebase Hosting">

    <!-- favicon -->
    <link rel="icon" href="/static/favicon.ico">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap@4/dist/css/bootstrap.min.css">

    <!-- custom -->
    <link rel="stylesheet" href="/static/common.css">

    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.4.1.js"></script>

    <!-- bootstrap -->
    <script src='https://unpkg.com/jquery@3/dist/jquery.min.js'></script>
    <script src='https://unpkg.com/popper.js@1/dist/umd/popper.min.js'></script>
    <script src='https://unpkg.com/bootstrap@4/dist/js/bootstrap.min.js'></script>

    <script type="text/javascript" src="/static/common.js"></script>
</head>
