<!DOCTYPE html>
<html>
	<head>
		<!-- jquery -->
		<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
		<!-- 합쳐지고 최소화된 최신 CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
		<!-- 부가적인 테마 -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
		<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
		<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
		<script>
			Kakao.init('53beab8a9fa2f4fb8e53b1216b31c5d1')
		</script>
	</head>
	<body>
		<div class="container">
			<div class="row">
                <div class="col-12">
                    <input id="title" type="text" class="form-control" placeholder="title"></input>
                </div>
                <div class="col-12">
                    <input id="desc" type="text" class="form-control" placeholder="desc"></input>
                </div>
                <div class="col-12">
                    {% set img_url = "http://placehold.it/300x250?text=no%2Fimg" %}
                    <img src="{{img_url}}" style="height:200px; width:100%; object-fit:cover;" onerror="this.src='{{img_url}}'; alert('image is not available'); $('#img').focus();"/>
                </div>
                <div class="col-12">
                    <input id="img" type="text" class="form-control" placeholder="img url"></input>
                </div>
                <div class="col-12">
                    <input id="lnk" type="text" class="form-control" placeholder="profile_id"></input>
                </div>
                <div class="col-12">
                    <button class="btn btn-primary" style="width:100%;" onclick="sendLink()"> Send </button>
                </div>
			</div>
		</div>
		<script type="text/javascript">
        $("#img").on('change', () => {
            $("img").prop('src', $("#img").val());
        });

		// input your appkey
		function sendLink() {
            let lnk = $("#lnk").val();
			Kakao.Link.sendDefault({
				objectType: 'feed',
				content: {
					title: $("#title").val(),
					description: $("#desc").val(),
					imageUrl: $("#img").val(),
					link: {
						mobileWebUrl: lnk,
						webUrl: lnk,
					},
				},
				buttons: [
					{
						title: '놀러가보기',
						link: {
							mobileWebUrl: lnk,
							webUrl: lnk,
						},
					},
				],
			})
		}
		</script>
	</body>
</html>
