<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8"/>
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
<meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, width=device-width"/>
<title>?!!</title>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body>
<a id="kakao-link-btn" href="javascript:;">
<img src="//developers.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_medium.png"/>
</a>
    <script type='text/javascript'>
    //<![CDATA[
    Kakao.init('53beab8a9fa2f4fb8e53b1216b31c5d1');
    Kakao.Link.createCustomButton({
        container: '#kakao-link-btn',
        templateId: 25647,
        templateArgs: {
            'title': '제목 영역입니다.',
            'description': '설명 영역입니다.'
        }
    });

//]]>
</script>
</body>
</html>
